<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>会議の録音のためにマイクを使用します。録音した音声はこのPC内にのみ保存され、外部へ送信されることはありません。</string>
</dict>
</plist>
